// header.scss

// 436
.svg-trigger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  path {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #333;
    stroke-width: 5;
    stroke-linecap: round;

    &:nth-child(1) {
      stroke-dasharray: 40 160;
      .primary-menu-open & { stroke-dashoffset: -64; }
    }

    &:nth-child(2) {
      stroke-dasharray: 40 142;
      transform-origin: 50%;
      transition: transform 400ms;
      .primary-menu-open & { transform: rotate(90deg); }
    }

    &:nth-child(3) {
      stroke-dasharray: 40 85;
      transform-origin: 50%;
      transition: transform 400ms, stroke-dashoffset 400ms;
      .primary-menu-open & { stroke-dashoffset: -64px; }
    }
  }

  .primary-menu-open & { transform: rotate(45deg); }
}


